*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* navbar styles */

.nav-section{
    max-width: 1125px;
    height: 50px;
    margin: 48px 157px 0px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-button{
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 65px;
    color: #CCCCCC;
    font-size: 20px;
    padding: 12px;
    text-align: center;
}
.nav-mid-sec{
    position: relative;
    
    
}
.nav-mid-sec i{
    position: absolute;
    right: 20px;
    top: 15px;
    color: #CCCCCC;
    
}
.nav-items{
    display: flex;
    gap: 24px;
    color: #707070;
}
/* banner section  */
.banner{
    height: 455px;
    width: 1212px;
    margin: 50px 160px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEEAE9;
    border-radius: 20px;
}
.banner-info{
    width: 550px;
    height: 320px;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 7px;
}
.banner-description{
    font-size: 16px;
    color: #4E4E4E;
    margin-bottom: 15px;
}
#banner-price{
    font-size: 40px;
    font-weight: 500;
    color: #FF136F;
    margin-bottom: 10px;
}
.banner-info button{
    width: 170px;
    height: 55px;
    background-color: rgba(255, 88, 155, 1);
    border: none;
    margin-top: 10px;
    padding:  15px 20px;
    color: white;
    border-radius: 8px;
}
.banner-img{
    width: 400px;
    height: 375px;
}
/* section styles  */
.sec-1{
    height: 200px;
    width: 1130px;
    margin: 60px 185px 100px;
}
.sec-1-heading{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}
.sec-1-boxes{
    display: flex;
    justify-content: space-between;
}
.sec-1-box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 360px;
    height: 120px;
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    border-radius: 10px;
}
.sec-1-box1 p{
    color: white;
    font-size: 36px;
    
}
.sec-1-img1{
    width: 90px;
    height: 90px;
}
.sec-1-box2{
    /* Linear */
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.sec-1-img2{
    width: 95px;
    height: 95px;
}
.sec-1-box3{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.sec-1-img3{
    width: 153px;
    height: 100px;
}

.sec-2{
    background-color: #F4F4F4;
}
.sec-2-items{
    margin: 5px 185px 100px;
    width: 1140px;
    height: 700px;
}
.sec-2-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-2-head-title{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}
.sec-see-all{
    color: #FF9D00;
    font-size: 20px;
}
.sec-2-all-cards{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 24px;
}
.sec-2-card{
    width: 350px;
    height: 450px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.sec-2-img{
    width: 335px;
    height: 200px;
    margin-bottom: 10px;
}
.sec-2-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.sec-2-des{
    font-size: 16px;
    color: #4E4E4E;
    margin-bottom: 15px;
}
.sec-2-price{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.sec-2-btn{
    width: 170px;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 6px;
}